{{define "title"}}Change Password{{end}} {{define "main"}}
<h2>Change Password</h2>
<form action="/user/account/change-password" method="POST">
  <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />

  <!-- desplay non field errors -->
  {{range .Form.NonFieldErrors}}
    <div class='error'>{{.}}</div>
  {{end}}
  
  <div>
    <label>Current password</label>
    {{with .Form.FieldErrors.currentPassword}}
      <label class='error'>{{.}}</label>
    {{end}}
    <input type="text" name="currentPassword" />
  </div>
  <div>
    <label>New password</label>
    {{with .Form.FieldErrors.newPassword}}
      <label class='error'>{{.}}</label>
    {{end}}
    <input type="text" name="newPassword" />
  </div>
  <div>
    <label>Confirm new password</label>
    {{with .Form.FieldErrors.confirmPassword}}
      <label class='error'>{{.}}</label>
    {{end}}
    <input type="text" name="confirmPassword" />
  </div>
   <div></div>
    <input type='submit' value='Publish snippet'>
  </form>
</div>
{{end}}
